{% extends "base.html" %}

{% block title %}

Medicine AI

{% endblock %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>

💊 AI Medicine Assistant

</h3>

</div>

<div class="card-body">

<h4>

{{ medicine.medicine_name }}

</h4>

<hr>

<p>

<strong>Dosage :</strong>

{{ medicine.dosage }}

</p>

<p>

<strong>Food Instruction :</strong>

{{ medicine.food_instruction }}

</p>

<hr>

<div
style="white-space:pre-wrap;
line-height:1.8">

{{ ai_response }}

</div>

</div>

</div>

</div>

{% endblock %}